# Passwd file
secrets.json

# Text backup files
*.bak

# Database
db.sqlite3

*.pyc
*~
__pycache__
/venv
/static
/media
/.vscode
.DS_Store

# My files
accounts_list.csv
major_list.csv
em2_*.csv

# Txt files
students_to_delete.txt

