table {
  font-size: 20px;
  font-weight: 100px;
  border:none;
}

.table-inner {
  background: white;
  border: none;
  border-collapse: collapse;
  /*margin: auto;*/
  padding:5px;
  width: 200px !important;
}

td {
  background: #FFFFFF;
  padding: 5px;
  text-align: center;
  vertical-align: super;
  font-weight: 300;
  /*border-top: 1px solid #C1C3D1;*/
  border-color: #FFFFFF;
}

tr{
  text-align: middle;
  vertical-align: super;
}


th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

#top{ 
  vertical-align: top;
}

