{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/css/custom_alex.css">
{% endblock %}

{% block title %} Vote Question | {{block.super}} {% endblock %}

{% block content %}
    <div class="row">
        <div class="small-4 columns">
            <img src="{{ question.contents.url }}">
        </div>
    </div>
    <!-- <div id="results">
        {% include "votes/partial_results.html" %}
    </div> -->
    <!-- <div id="flashMessage">
        This is jQuery trial!
    </div> -->
    <!-- <p>
            <div class="vote1">
                    1st vote count: {{ vote1 }}
            </div>
            <div class="vote2">
                    2nd vote count: {{ vote2 }}
            </div>
        </p> -->
    <hr>
    <div id="votingCount">

    </div>
    <p>Active: {{ question.is_active }}, Code: {{ question.code }}</p>
    <div>
        <div class="grid-x grid-padding-x">
            <div>
                <form action="", method="POST">
                    {% csrf_token %}
                    <input type="submit", class="success button", value="1st Vote", name="_check_vote">
                    <input type="submit", class="secondary button", value="2nd Vote", name="_vote_again">
                    <input type="submit", class="alert button", value="Plot", name="_plot">
                    <input type="submit", class="button", value="List", name="_list">


                    <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        <option value="">Select...</option>

                        {% for section in section_list %}
                        <option value="/votes/q{{question.pk}}/{{section.section_no}}">{{section.section_no}}</option>

                        {% endfor %}

                    </select>


                </form>
            </div>
        </div>
    </div> 

    <br><br>


<!-- Show current wrong group status-->
    <h5> First Vote Help : 
    {% for group in wrong_group1 %}
         {{group}} 
    {% endfor %}
    </h5>

    <h5> Second Vote Help : 
    {% for group in wrong_group2 %}
         {{group}} 
    {% endfor %}
    </h5>
    

    <br>





<!-- Show current voting status-->
    <div>
    <table>
        <th class = "text-center" colspan = 4>Screen</th>

        <tbody>

            {% for group_response in response_status %}
        
            {% cycle '<tr>' '' '' '' %}



                <td id = "top">

                <table class = table-inner style = "font-size : 15px" ><tbody>
                <tr><th colspan = 2>{{group_response.0.0.group.group_no}}</th></tr>


                {% for response in group_response %}
                    
                    {% if forloop.counter|divisibleby:2 %}
                    {% else %}
                        <tr>
                    {% endif %}

                    {% if response.1 is 1 %} {# voting 한번 한 경우 #}
                        <td style = "background-color : lightblue">{{response.0.name}}</td>
                    {% elif response.1 is 2 %} {# voting 두번 한 경우 #}
                        <td style = "background-color : lightgreen">{{response.0.name}}</td>
                    {% elif response.1 is 3 %} {# voting 을 틀린경우 / test 용. #}
                        <td style = "background-color : red">{{response.0.name}}</td>                    
                    {% else %}
                        <td>{{response.0.name}}</td>
                    {% endif %}
                    
                        

                {% endfor %}

             {% cycle '</tr>' '' '' '' %}
            

        </tbody></table>
              
                

 

    {% endfor %}
    </tbody></table>
    </div>

<!--        For testing       -->


<!--                 -->





{% endblock %}



{% block javascript %}
    <!-- <script>
        $("#flashMessage").hide();
        $("#flashMessage").fadeIn(1000);
        $("#flashMessage").delay(3000);
        $("#flashMessage").slideUp();
    </script> -->
    <script>
        var url = 'ajax/count{{question.id}}';
        var data = {};
        var callback = function (response) {
            // do somethin with the response
            // $('.vote1').html(response)
            var statusHTML = '<p>';
            // $.each(response, function (index, votes){
            //     statusHTML =+ '<li>' + votes + '</li>';
            // });
            statusHTML += "1st Vote Count: " + response.vote1;
            statusHTML += ", 2nd Vote Count: " + response.vote2;
            statusHTML += '</p>';
            // console.log(statusHTML)
            document.getElementById('votingCount').innerHTML = statusHTML;
        };
        $.get(url, data, callback);
    </script>
{% endblock %}
