{% extends "base.html" %}

{% block title %} Home | {{ block.super }} {% endblock %}

{% block content %}
    <h4> Welcome to Learning Lab! </h4>
    <p> 
        Our aim is to provide a better learning environment so that 
        learners at any age can enjoy learning and prosper in their
        fields of interest.
    </p>
    <p> 
        We are esperically interested in the social aspect of learning 
        where leaners learn from and with others.  Being a social animal, 
        humans learn from others at their early stage of life and learn 
        to learn with others as soon as they get along with peers 
        and become natural social learners.  The situation changes abruptly
        as they get into a public, (claim to be) impartial, and standardized 
        system.  The joy of learning togither soon gets lost.  Our interest
        is to find ways to rekindle the joy of learning with others.
    </p>
    <!-- <p> 
        We are also interested in developing models of learning in all scales 
        whether they be spatial or temporal.  The following quotes are definitions
        of learning in various disciplines and exemplify our approaches 
        .
    </p>
    <blockquote> A change in behavior that occurs as a result of experience. </blockquote>

    <blockquote> A change in long-term memory. </blockquote>

    <blockquote> A slow modification of the connectivity between neurons. </blockquote>

    <blockquote> Inferring plausible models to explain observed data. </blockquote> -->

    <p>
        Our methods encompass both quantitative and qualitative.  We use machine
        learning approach to discern hidden patterns of human behaviors and cognitive 
        and psychological approach to analyze discourses among learners.
    </p>

{% endblock %}

