{% extends "base.html" %}

{% block title %} Home | {{ block.super }} {% endblock %}

{% block content %}
    <h4> Welcome to Learning Lab! </h4>
    <p> 
        Our aim is to provide a better learning environment so that 
        learners at any age can enjoy learning and prosper in their
        fields of interest.
    </p>
    <p> 
        We are esperically interested in the social aspect of learning 
        where leaners learn from and with others.  Being a social animan, 
        human learns from others at her/his early stage of life and learns 
        to learn with others as soon as she/he gets along with peers 
        and becomes a natural social learner.
    </p>
    <p> 
        We are also interested in all scales of learning whether they be 
        spatial or temporal.  Learning can be defined in many different ways
        depending on various perspectives.
    </p>
    <quote> A change in behavior that occurs as a result of experience. </quote>
    <quote> A slow modification of the connectivity between neurons. </quote>
    <quote> A change in long-term memory. </quote>
    <quote> Inferring plausible models to explain observed data. </quote>
    <p>
        Our methods encompass both quantitative and qualitative.  We use machine
        learning approach to discern hidden patterns of human behaviors and cognitive 
        and psychological approach to analyze discourse among humans.
    </p>

{% endblock %}

