{% extends "base.html" %}

{% block title %} Courses | {{block.super}} {% endblock %}

{% block content %}
    {% if course_list %}
    <ul>
        {% for course in course_list %}
        <li>
            <a href="{{ course.get_absolute_url }}"> {{ course }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p> There are no courses in the course list.</p>
    {% endif %}

{# ######################################## #}



    {% if attendance_list %}

    <table>

        {% for attendance in attendance_list %}

                    {% if forloop.counter0|divisibleby:9 %}
                        <tr>
                    {% endif %}

                    {% if attendance.1 is 1 %} {# voting 한번 한 경우 #}
                        <td style = "background-color : yellowgreen">{{attendance.0}}</td>                
                    {% else %}
                        <td>{{attendance.0}}</td>
                    {% endif %}

        {% endfor %}

    </table>
    
    {% else %}

        attribute_list is empty!

    {% endif %}



{% endblock %}